@use 'sass:color';

// COLORS
$black: #1E1E1E;
$error: #FF2D2D;
$gray-100: #F5F5F5;
$gray-300: #C4C4C4;
$gray-700: #4E4E4E;
$warning: #F07B07;
$white: #FFFFFF;

// Default lightness deltas
$lightness-300: 25%;
$lightness-700: 25%;

// Brand colors
$primary-500: #4D00FF;
$secondary-500: #DF0D23;

// Entities colors
$opportunities-500: #2BA100;
$events-500: #4D00FF;
$agents-500: #FF6400;
$projects-500: #DF0D23;
$spaces-500: #1C66F9;

$seals-500: #1E1E1E;

// Feedback colors
$danger-500: #EF1010;
$success-500: #498200;
$warning-500: #FF9F1C;
$helper-500: #0074C1;

// home
$home-opportunities: #FFA4A3;
$home-feature: #49B359;
$home-register: #1C66F9;
$home-spaces: #F3C510;

$font-body: 'Sora', sans-serif;
$font-headings: 'Sora', sans-serif;

@import '../../../BaseV2/assets-src/sass/theme-BaseV2';

// COMPONENTS
@import './components/home-feature';
@import './components/home-header';
@import './components/home-register';
@import './components/home-spaces';
@import './components/main-footer';
@import './components/main-header';

// LAYOUTS
@import 'layouts/museums.scss';
@import './layouts/tab-information';

.mc-header-logo {
    width: 146.14px;
}

.controller-search.action-memory {
    .search__header--content--right {
        button {
            display: none;
        }
    }
}

.mc-header-menu--item.space {
    display: none;
}

.action-memory {
    .mc-header-menu--item.memory {
        .icon {
            background-color: var(--mc-spaces-500);
        }
        .label {
            color: var(--mc-spaces-500);
        }
    }
}