@use 'sass:color';

// COLORS
$black: #1E1E1E;
$error: #FF2D2D;
$gray-100: #F5F5F5;
$gray-300: #C4C4C4;
$gray-700: #4E4E4E;
$warning: #F07B07;
$white: #FFFFFF;

// Default lightness deltas
$lightness-300: 25%;
$lightness-700: 25%;

// Brand colors
$primary-500: #4D00FF;
$secondary-500: #DF0D23;

// Entities colors
$opportunities-500: #2BA100;
$events-500: #4D00FF;
$agents-500: #FF6400;
$projects-500: #DF0D23;
$spaces-500: #1C66F9;

$seals-500: #1E1E1E;

// Feedback colors
$danger-500: #EF1010;
$success-500: #498200;
$warning-500: #FF9F1C;
$helper-500: #0074C1;

// home
$home-opportunities: #FFA4A3;
$home-feature: #93DC79;
$home-register: #0074C1;

// PAGES
@import 'layouts/museums.scss';


// Components

@import '../../../BaseV2/assets-src/sass/theme-BaseV2';

@import 'assets-src/sass/components/home-spaces';
@import 'assets-src/sass/components/home-header-content';

.main-footer .theme-logo.onlyImg .theme-logo__logo--img img {
    max-height: 5rem;
    @media (min-width: 800px) {
        margin-bottom: 4rem;
    }
}

.mc-header-logo {
    width: 146.14px;
}

