[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
[submodule "themes/BaseMinc"]
	path = themes/BaseMinc
	url = git@github.com:hacklabr/mapasculturais-baseminc.git
[submodule "themes/MapasMuseus"]
	path = themes/MapasMuseus
	url = git@github.com:medialab-ufg/mapasculturais-museus.git
[submodule "plugins/Fva"]
	path = plugins/Fva
	url = git@github.com:medialab-ufg/museus-fva.git
