.home-entities {
    background-color: var(--mc-white);
    overflow: hidden;
    position: relative;

    &__background {
        position: absolute;
        right: size(-363);
        top: 0;

        img {
            height: size(703);
            width: auto;
        }

        @include mobile {
            display: none;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
    }

    .card__right {
        background-color: #EEE;
    }
}
