.main-footer {
    box-shadow: none;
    padding-top: 0;

    &::before {
        background-color: #CCC;
        content: '';
        height: 16px;
        margin-bottom: size(32);
        width: 100%;
    }

    .theme-logo.onlyImg {
    
        .theme-logo__logo--img img {
            max-height: 5rem;

            @media (min-width: 800px) {
                margin-bottom: 4rem;
            }
        }
    }
}
