@use '../../../../BaseV2/assets-src/sass/0.settings/mixins' as *;

.home-header-content {
    position: relative;
    z-index: 4;

    &__button {
        width: size(462); 
        height: size(76);
        max-width: 100%; 
        font-size: size(20);
    }
}