//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------


// _header.scss
// #secondary-menu {
//      margin-top: 14px;
// }

//_home.scss
// #home-watermark {
// 	background-position: right bottom;
// }
#nav-spaces, #home-spaces {
    background: rgb(136,153,117);
}
.new-tab{
    background-color:#f8f8f8;
    padding: 1.5em;
    .servico{
        border-top:0;
        margin-top:0;
        padding-top:0;
        h5 {
            margin-bottom:2px;
            margin-top:15px;
            font-size: 1em;
        }
    }
}

.bib-horario-dia {
    width: 90px;
    display: inline-block;
}

.search-filter--verified {
    display: none;
}

.search-filter--acessibilidade {
    display: none;
}

.btn-meu-museu-single {
    position:absolute;
    right:0;
    z-index:10000;
}

#nav-developers {
    background: $brand-developer;
}

#home-spaces .abas li.active {
    border-bottom-color: $brand-primary;
}

<<<<<<< HEAD
=======
//
// componentes/_icons.scss
// --------------------------------------------------
.icon-show-advanced-filters {
    &:before {
        content: $unicode-show-advanced-search;
    }
}

//
// application/_advanced-search.scss
// --------------------------------------------------

.entity-filter {
    position: relative;
    clear: both;
    min-height: 2px;
    padding: 0;
    color: $brand-accent;
    font-size: $font-size-small;
    @media screen and (min-width: $screen-desktop) {
        padding: $padding-base 0;
        .simple-filters {
            display: block !important;
            height: 34px;
        }
    }
    .simple-filters {
        overflow: hidden;
        padding-bottom: $padding-base;
    }
    .advanced-filters {
        border-top: 1px solid $brand-accent;
        padding-top: $padding-base;
        > .filter {
            &:first-child {
                border-left: 0;
            }
        }
    }
}
.filter {
    @media screen and (min-width: $screen-desktop) {
        width: 16.6%;
    }
}
//** Verified button filter set.
.verified-filter {
    @media screen and (min-width: $screen-desktop) {
        float: left;
    }
}
>>>>>>> layout dos filtros avançados
