// Child theme main

@import "variables";
@import "../../../../mapasculturais-baseminc/assets/css/sass/main";
@import "overrides";

.register-museum {
    margin: 20px 0 0 15px;
    position: absolute;
    z-index: 1;

    @media screen and (max-width: 767px) {
        margin: .3em 0 0 0;
        right:3em;
    }
    @media screen and (min-width: $screen-sm-min) {
        font-size: 14px;
        margin: 18px 0 0 0;
        position: static;
        .icon {
            font-size: 18px;
        }
    }
}

body.action-search {
    @media screen and (max-width: $screen-xs-max) {
        .register-museum {
            display: none;
        }
    }
}

.verified-seal{
    height: 96px
}