@font-face {
    font-family: 'Sora';
    font-weight: 100 800;
    src: url('/assets/fonts/Sora-VariableFont_wght.ttf') format('truetype supports variations'),
         url('/assets/fonts/Sora-VariableFont_wght.ttf') format('truetype-variations');
}
